:root {
  --ff-primary: 'Nunito', sans-serif;
  --ff-secondary: 'Raleway', sans-serif;
  --bg-light: #f3df95;
  --bg-medium: rgba(255, 125, 3, 0.8);
  --bg-dark: rgb(104, 1, 99);
  --bg-darker: rgb(71, 1, 68);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-padding-top: 216px;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/* ---Nav--- */

.navbar {
  text-transform: uppercase;
}

.navbar-scrolled {
  background-color: var(--bg-darker);
  transition: background-color 500ms;
}

nav .container {
  max-width: 90%;
}

.nav-link {
  position: relative;
  padding: 0.5em 0;
}

.nav-link:focus,
.nav-link:hover {
  color: white;
  cursor: pointer;
}

/* ---Hero--- */

.hero {
  height: 100vh;
  background-color: #b45405;
  background-image: url(img/caroya-picada.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
  text-align: center;
}

.hero__title {
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
  font-family: var(--ff-secondary);
  text-shadow: 3px 3px 3px white;
}

.hero__subtitle {
  font-size: 1.7rem;
  color: var(--bg-light);
  font-family: var(--ff-secondary);
  font-style: italic;
}

/* ---Header--- */

.header {
  height: 100px;
  background: linear-gradient(var(--bg-light), var(--bg-medium));
}

/* ---Main--- */

main {
  background: linear-gradient(var(--bg-medium), var(--bg-dark));
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ---About us--- */

.about_us {
  padding: 0 2em;
  color: var(--bg-dark);
  position: relative;
}

.about_us img {
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5);
}

.about_us h2 {
  font-family: var(--ff-primary);
  color: var(--bg-darker);
  font-size: 2.2rem;
}

.about_us p {
  font-size: 1.1rem;
  font-weight: 500;
}

.section-title,
.quienes_somos__content,
.que_ofrecemos__content {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.quienes_somos,
.que_ofrecemos {
  margin: 0 auto;
  display: grid;
  text-align: center;
  align-items: center;
}

.que_ofrecemos {
  margin-top: 2em;
}

/* ---Gallery--- */

.gallery {
  padding: 5em 2em;
}

.section-title {
  color: white;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 3px;
  margin-bottom: 2rem;
}

.gallery-title {
  font-family: var(--ff-primary);
}

.yellow {
  color: #ffc600;
}

.images {
  display: grid;
  gap: 20px;
  height: 80vh;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(5, 1fr);
}

.image.medium {
  grid-row: span 2;
  grid-column: span 3;
}

.image.large {
  grid-row: span 3;
  grid-column: span 2;
}

.image.small {
  grid-row: span 1;
  grid-column: span 2;
}

.image.tall {
  grid-row: span 3;
  grid-column: span 2;
}

.image.wide {
  grid-row: span 3;
  grid-column: span 3;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-1 {
  background-image: url(img/caroya.jpg);
}

.image-2 {
  background-image: url(img/caroya-capilla.jpg);
}

.image-3 {
  background-image: url(img/merlo.jpg);
}

.image-4 {
  background-image: url(img/grupal.jpg);
}

.image-5 {
  background-image: url(img/caroya-picada.jpg);
}

.image-6 {
  background-image: url(img/termas.jpg);
}

.image {
  background-color: #333;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  transition: color 1000ms ease;
  transition: background-color 1000ms ease;
}

.image:hover {
  background-color: transparent;
  color: transparent;
  cursor: pointer;
}

.illuminated {
  background-color: transparent;
  color: transparent;
}

/* ---Destinations--- */

.our-destinations {
  padding: 4em 2em;
}

.destinations {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.destinations-title {
  font-family: var(--ff-secondary);
}

.destiny {
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5);
  color: white;
  background-size: cover;
  padding: 10rem 0 0;
  margin: 0 auto;
  max-width: 35ch;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 500ms ease;
}

.destiny:hover,
.destiny:focus-within {
  transform: scale(1.05);
}

.destiny-content {
  --padding: 1.5rem;
  padding: var(--padding);
  background: linear-gradient(hsl(0 0% 0% / 0), hsl(0 0% 0% / 0.5) 20%, hsl(0 0% 0% / 1));
}

.destiny-title {
  position: relative;
  width: max-content;
  max-width: 100%;
  padding-bottom: 0.5em;
}

.destiny-title::after {
  content: '';
  position: absolute;
  height: 4px;
  left: calc(var(--padding) * -1);
  bottom: -2px;
  width: calc(100% + var(--padding));
  background-color: hsl(142, 90%, 61%);
  transform-origin: left;
  transition: transform 500ms ease;
}

.destiny:hover .destiny-title::after,
.destiny:focus-within .destiny-title::after {
  transform: scaleX(1);
}

.destiny-body {
  color: rgba(255, 255, 255, 0.85);
}

@media (hover) {
  .destiny-content {
    transform: translateY(65%);
    transition: transform 500ms ease;
  }

  .destiny:hover .destiny-content,
  .destiny:focus-within .destiny-content {
    transform: translateY(0);
    transition-delay: 500ms;
  }

  .destiny:focus-within .destiny-content {
    transition-duration: 0ms;
  }

  .destiny-content > *:not(.destiny-title) {
    opacity: 0;
    transition: opacity 500ms linear;
  }

  .destiny:hover .destiny-content > *:not(.destiny-title),
  .destiny:focus-within .destiny-content > *:not(.destiny-title) {
    opacity: 1;
    transition-delay: 1000ms;
  }

  .destiny-title::after {
    transform: scaleX(0);
  }
}

.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #333;
  background-color: hsl(142, 90%, 61%);
  padding: 0.5em 1.25em;
  border-radius: 0.25em;
}

.button:hover,
.button:focus {
  background-color: hsl(0, 0%, 100%);
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition-delay: 0ms !important;
  }
}

.destiny-caroya {
  background-image: url(img/caroya.jpg);
}

.destiny-termas {
  background-image: url(img/termas.jpg);
}

.destiny-merlo {
  background-image: url(img/merlo.jpg);
}

/* ---Footer--- */

footer {
  background: linear-gradient(var(--bg-dark), black);
  text-align: center;
}

footer .social-media {
  padding: 1em;
}

footer a {
  text-decoration: none;
}

footer .bi {
  margin: 0 1em;
}

footer p {
  margin-bottom: 0;
  padding-bottom: 1em;
  color: white;
}

/* ---Media Queries--- */

@media (min-width: 992px) {
  html {
    scroll-padding-top: 56px;
  }

  .nav-link {
    padding: 0;
  }

  .nav-link::before {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background: white;
    position: absolute;
    top: -0.2em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform 250ms ease-in-out;
  }

  .nav-link:hover::before {
    transform: scale(1, 1);
  }

  .nav-link + .nav-link {
    margin-left: 2em;
  }

  .hero__title {
    font-size: 5rem;
    text-shadow: 5px 5px 3px white;
  }

  .hero__subtitle {
    font-size: 2rem;
  }

  .about_us-container {
    position: static;
    margin-bottom: 100px;
  }

  .about_us h2 {
    font-size: 2.7rem;
  }

  .about_us p {
    font-size: 1.3rem;
  }

  .section-title,
  .quienes_somos__content,
  .que_ofrecemos__content {
    max-width: 800px;
  }

  .quienes_somos,
  .que_ofrecemos {
    grid-template-columns: 1fr 1fr;
    max-width: 1100px;
    gap: 3em;
  }

  .gallery {
    padding: 2em 2em;
  }

  .section-title {
    font-size: 3rem;
  }

  .image.medium {
    grid-row: span 2;
    grid-column: span 2;
  }

  .image.large {
    grid-row: span 3;
    grid-column: span 3;
  }

  .image.small {
    grid-row: span 1;
    grid-column: span 1;
  }

  .image.tall {
    grid-row: span 3;
    grid-column: span 2;
  }

  .image.wide {
    grid-row: span 2;
    grid-column: span 3;
  }
}
